Body{
    background-color: black;
    color: white;
    
}

/* Navbar start */

.navbar_section{
    display: flex;
    flex-direction: row;
}

.navbar{
  display: inline-block;
   margin: 0.5em 20em;
    
}

ul{
    text-align: center;
    vertical-align:top;
    padding: 0em 1.5em !important;
}

nav li{
  display: inline;
  margin: 0px 10px ;
}

nav li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    
}

 nav img{
    height: 60px;
    width: 60px;
    margin: 0px 0px 0px 10px;
}

.active{
    color: red;
}

nav button{
    background-color: rgb(196, 13, 13);
    color: white;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    font-weight: bold;

}

/* Navbar end */

/* Seciton1 */

.section1_container{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    padding: 5em 0em;
    
}

.section1_part1{
width: 50%;
}

.section1_top{
    color: red;
    margin: 0px;
    font-size: 15px;
}

.section1_part1 h1{
margin: 10px 0px;
font-weight: bold;
}

.section1_bottom{
    font-size: 11px;
    color: grey;
}

.section1_imagepart{
    
}

.section1_imagepart img{
    height: 14px;
    width: 14px;
   margin: 0px;
}

.section1_imagepart p{
    display: inline-block;
    font-size: 15px;
}

.section1_part1 button{
    margin: 2em 0em;
    background-color: rgb(196, 13, 13);
    color: white;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;

}


.section1_part2{
    width: 50%;
}

.section1_part2 img{
    width: 80%;
    height: 100%;
}


/* section2_start */
.section2{
    display: flex;
    flex-direction: row;
}

.section2_part1{
    background-image: url("https://th.bing.com/th/id/OIP.MUP3-MYS98tdNcQ4xDbd9gAAAA?pid=ImgDet&rs=1");
    background-size: cover;
    width: 50%;
}

.section2_part2{
    background-color: grey;

    width: 50%;
    
}

.section2_inner{
    background-color: grey;
    opacity: 0.8;
    height: 70%;
    width: 70%;
    margin: 3em auto 7em;
    padding: 20px 20px 20px;
    
}

.section2_inner h1{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    margin: 10px 0px 5px;
}

.section2_inner p{
    font-size: 15px;
}

.section2_part2{
    
}

.section2_part2_inner{
    display: flex;
    flex-direction: row;
}

.section2_inner1{
    width:30%;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
   display: flex;
   justify-content: center;
    align-items: center;
}

.section2_inner2{
    width: 50%;
}
.section2_part2{

}

